/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #FFCC02;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.beer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beer-item {
    background-color: #333;
    border-radius: 8px;
    margin: 10px;
    width: calc(30% - 20px); /* 4 items per row */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    perspective: 1000px; /* Ajout pour l'effet de rotation */
    cursor: pointer; /* Change le curseur pour indiquer la possibilité de cliquer */
}

.beer-item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.beer-item.flip .beer-item-inner {
    transform: rotateY(180deg);
}

.beer-item-front, .beer-item-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box; /* Ajout pour inclure le padding dans la taille */
    min-height: 300px;
}

.beer-item-front {
    background-color: #333; /* couleur de la face avant */
}

.beer-item-back {
    background-color: #444; /* couleur différente pour le dos */
    transform: rotateY(180deg);
}

.beer-logo, .brewery-logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.beer-logo img, .brewery-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.beer-details {
    width: 100%; /* S'assure que les détails occupent toute la largeur de la carte */
}

.brewery-name, .beer-name, .beer-type, .beer-price, .beer-description, .beer-abv, .beer-ibu {
    margin: 5px 0;
    text-align: center;
}